@import '~bootstrap/scss/bootstrap';

*　{
  margin: 0;
  padding: 0;
  }

body {
  color: #3d3d3d;
}

/* header */

header {
  border-top: solid 3px #000000;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

header a{
  color: #000000;
  position: relative;
  display: inline-block;
  transition: .3s;
}

header a:hover{
  color: #575757;
  text-decoration: none;
}

header a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #60e7af;
  transition: .3s;
  transform: translateX(-50%);
}

header a:hover::after{
  width: 100%;
}

header li {
  padding-right: 15px;
}

#logo {
  letter-spacing: -1px;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 0px;
}

/* footer */

.footer {
  background-color: #38423b;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a:hover{
  color: #b4b4b4;
  text-decoration: none;
}

.footer-logo {
  font-size: 2em;
  font-weight: bold;
}

footer ul li {
  list-style: none;
  margin-right: 1em;
  }

  /* comment */

  .new_comment {
    height: 41px;
    line-height: 41px;
    color: #000;
    background-color: #dbdbdb;
    border-bottom: solid 3px #bababa;
    margin-bottom: 1.5em;
    overflow: hidden;
    font-size: 1.142em;
  }

  .home_comment {
    width: auto;
    border-bottom: solid 1px #727272;
    box-sizing: border-box;
  }
